# ignore node_modules since it will be installed in the container
./node_modules

# ignore AWS related files, since it's only required once after implementing the task
./bin
./lib

# ignore test files since it's only required once after implementing the task
./test

# ignore project files
.gitignore
.prettierrc
Dockerfile
LICENSE
README.md